<h1>
  hello to ecommerce website
</h1>
// navbar.component.html 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    Brand
  </a>

  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Item 1</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Item 2</a><br>
        <a class="nav-link" href="#">Item 3</a>
        <a class="nav-link" href="#">Item 4</a>
        
        
      </li>
    </ul>
  </div>
</nav>


